@*
    This view is used when selecting an individual Asset to view its details.
*@
@model TrackPoint.Models.AssetModel;
@{
}

@*
    TODO: Add error checking for if an asset is not passed to this view, and also check if we even have permissions to view the asset.
    Currently, we can access any asset through the ?assetTag= URL parameter. This could become a security concern depending on the asset.
    TODO: Replace the <a> tag for buttons so that clicking on the button itself will actually redirect, instead of only the text
*@

@if (Model.AssetTag != null)
{
    <div class="container">
        <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-warning p-2 mx-2">Report</button>
            <button type="button" class="btn btn-secondary p-2">Generate Barcode</button>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://placehold.co/600x400/000000/FFFFFF.png"/>
                @* <p>Asset Barcode</p> *@
                <div class="d-flex justify-content-center mt-3">

                    @if (Model.AssetStatus == Enums.AssetStatus.InStorage || Model.AssetStatus == Enums.AssetStatus.Transfered)
                    {
                        <button type="button" class="btn  btn-success btn-lg mx-2" data-bs-toggle="modal" data-bs-target="#confirmModal">
                            Borrow
                        </button>

                        @* Confirmation Popup 
                           TODO: Refactor this (along with the Borrow button itself) into a partial view or component for reuse
                                 and fix the button so it can properly redirect instead of having to click the link inside the button.
                        *@
                        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="confirmModalLabel">Borrow Asset</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to check out this asset?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">
                                    <a asp-controller="Asset" asp-action="checkOut" asp-route-assetTag="@Model.AssetTag" style="color: white;text-decoration: none;">Confirm</a>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                    } else { <button type="button" class="btn btn-secondary btn-lg mx-2" title="Cannot borrow" style="color:#ffffff75">Borrow</button>}
                    <button type="button" class="btn btn-primary btn-lg">
                        <a asp-controller="Asset" asp-action="AuditTrail" asp-route-assetTag="@Model.AssetTag" style="color:white;text-decoration: none;">View Audit Trail</a>
                    </button>
                </div>
            </div>
            <div class="col">
                <h1 class="text-center">@Model.Make @Model.Model</h1>
                <hr class="border-4"/>
                <div class="fs-5">
                    <p><b>Asset Tag:</b> @Model.AssetTag</p>
                    <p><b>Status:</b> @Model.AssetStatus</p>
                    <p><b>Location:</b> @Model.Location</p>
                    <p><b>Make:</b> @Model.Make</p>
                    <p><b>Model:</b> @Model.Model</p>
                    <p><b>Category:</b> @Model.Category</p>
                    <p><b>Issued To:</b> @if(Model.IssuedToUser == null) { <span>Unissued</span> } else { @Model.IssuedToUser }</p>
                    <p><b>Notes:</b> @Model.Notes</p>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>No asset detected!</p>
}

@*
    Todo: Back button here
*@