@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<TrackPoint.Models.Asset>
@{
    var msg = TempData["Success"] as string;

    if (!string.IsNullOrEmpty(msg))
    {
        <div class="alert alert-success" role="alert">
            @msg
        </div>
    }
}

<h1>Browse Available Assets</h1>
<table class="table" id="asset">
    <thead>
        <tr>
            <th>Asset Tag</th>
            <th>Make</th>
            <th>Model</th>
            <th>Category</th>
            <th>Location</th>
            <th>Issued To</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Audit Trail</th>
            <th>Actions</th>
		</tr>
    </thead>
    <tbody>
        @foreach (var asset in Model)
        {
            <tr>
                <td><a asp-controller="Asset" asp-action="AssetView" asp-route-assetTag="@asset.AssetTag">@asset.AssetTag</a></td>
                <td>@asset.Make</td>
                <td>@asset.Model</td>
                <td>@asset.Category</td>
                <td>@asset.Location</td>
                <td>@asset.IssuedTo</td>
                <!-- Color statuses -->
                <!-- 
                    Key: 
                     - Red: Unavailable to borrow
                     - Green: Available to borrow
                     - Grey: No longer in circulation
                -->
                @if (asset.Status == Asset.AssetStatus.InUse || asset.Status == Asset.AssetStatus.UnderMaintenance)
                {
                    <td style="color:red">@asset.Status</td>
                }
                else if (asset.Status == Asset.AssetStatus.InStorage || asset.Status == Asset.AssetStatus.Transfered)
                {
                    <td style="color:green">@asset.Status</td>
                }
                else if(asset.Status == Asset.AssetStatus.Retired || asset.Status == Asset.AssetStatus.Lost)
                {
                    <td style="color:grey">@asset.Status</td>
                }
                else
                {
                    <td>@asset.Status</td>
				}
                <td>@asset.Notes</td>
                <td><a asp-controller="Asset" asp-action="AuditTrail" asp-route-assetTag="@asset.AssetTag" class="btn btn-primary">View Audit Trail</a></td>
                <td>
                    <!-- 
                        Disable the button for unavailable assets.
                        asp-action will be added in future iterations.
                    -->
                    @if (asset.Status == Asset.AssetStatus.InStorage || asset.Status == Asset.AssetStatus.Transfered)
                    {
                        <a class="btn btn-sm btn-success">Borrow</a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-outline-success disabled" aria-disabled="true">Borrow</a>
                    }
                </td>
            </tr>
		}
    </tbody>
</table>

